@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Register";
}
<div>


    <div class="row">
        <div class="col-sm-12">
            <div class="mt-5 text-center ">
                <h4 class="title-name">Help Desk App</h4>
                <p>Create your account</p>
            </div>
            <div class="form-login">
                <form class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="inputName">Full name</label>
                        <input type="text" class="form-control " id="inputName" placeholder="your beautiful name" required>
                        <div class="invalid-feedback">
                            Please input your name
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="name@example.com" required>
                        <div class="invalid-feedback">
                            Invalid email address
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control " id="inputPassword" placeholder="password" min="4" required>
                        <div class="invalid-feedback">
                            minimum 4 characters
                        </div>
                    </div>
                    <button class="btn btn-danger btn-block" type="submit">Create an account</button>
                </form>
                <hr />
                <small class="text-muted">Already Have an account? <a asp-controller="Login" asp-action="Index">Sign in</a></small>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

     
    <script>

        $(document).ready(function () {
            FormValidation();
        });

        let FormValidation = () => {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    if (form.checkValidity() === false) {
                        form.classList.add('was-validated');
                    }
                    else {
                        var dataRegister = new Object();
                        dataRegister.Name = $("#inputName").val();
                        dataRegister.Email = $("#inputEmail").val();
                        dataRegister.Password = $("#inputPassword").val();

                        dataRegister.Birthdate = "1997-07-07";
                        dataRegister.RoleId = "4";
                        dataRegister.DepartmentId = "4";
                        PostRegister(dataRegister);
                    }
           
                }, false);
            });
        }

        let PostRegister = (data) => {
            console.log(data);
            $.ajax({
                type: 'POST',
                url: '/Login/Register',
                data: data
            }).done((result) => {
                console.log(result);
                if (result == 200) {
                    swal({
                        title: "Success!",
                        text: "Your Account Created Succesfully !",
                        icon: "success",
                        buttons: false,
                        timer: 2000
                    }).then(() => {
                        window.location = "https://localhost:44326/Login";
                    })
                } else if (result == 409) {
                    swal({
                        title: "Email problem",
                        text: "Email has been used",
                        icon: "warning",
                        buttons: false,
                        timer: 2000
                    })
                }
                else {
                    swal({
          
                        text: "Oops..",
                        buttons: false,
                        timer: 2000
                    })
                }
            }).fail((result) => {
                swal({
                    title: "Oops..",
                    text: "Server Error",
                    icon: "error",
                    buttons: false,
                    timer: 2000
                })
            })
        }
       
    </script>
}