@{
    ViewData["Title"] = "Account";
}


<div class="container">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Your Profile</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="formEdit" class="needs-validation">
                    <div class="form-group row">
                        <label for="username" class="col-2 col-form-label">Name</label>
                        <div class="col-6">
                            <input id="name" name="name" class="form-control here" required="required" type="text" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-2 col-form-label">Email</label>
                        <div class="col-6">
                            <input id="email" name="email" class="form-control here" required="required" type="text" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="birthdate" class="col-2 col-form-label">Birth Date</label>
                        <div class="col-6">
                            <input id="birthdate" name="birthdate" class="form-control here" type="date" disabled>
                        </div>
                    </div>

                        <div class="form-group row">
                            <div class="offset-4 col-4">
                                <button id="editButton" name="submit" type="submit" class="btn btn-primary float-right ml-3" onclick="Edit()">Edit</button>
                                <button id="cancelButton" name="cancel" type="button" class="btn btn-danger float-right" onclick="Cancel()" hidden>Cancel</button>
                            </div>
                        </div>
</form>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <script>
        var clientID = `ViewData["empId"]`;
        $(document).ready(function () {
            ReadById(clientID);
        });

        let buttonEditStatus = false;
        let inputDateType = false;

        let ReadById = (Id) => {
            $.ajax({
                url: `Home/GetEmployeeById`,
                type: "GET",
                data: { "Id": Id }
            }).done((result) => {
                data = JSON.parse(result);
                console.log(data)
                console.log(Id)
                $("#name").val(data.name);
                $("#email").val(data.email);
                $("#birthdate").val(data.birthDate.substring(0, 10));
            }).fail((error) => {
                //failed
                alert("request gagal");
            });
        }


        $('#formEdit').submit(function (event) {
            event.preventDefault();
            event.stopPropagation();
        });

        var clientID = `@ViewData["empId"]`;
     

        let Edit = () => {
            if (buttonEditStatus == false) {
                ReadById(clientID);
                $("#editButton").text("Update")
                $("#editButton").attr("onclick", "Update()");
                $("#name").prop("disabled", false);
                $("#birthdate").prop("disabled", false)
                $("#cancelButton").prop("hidden", false);
                buttonEditStatus = true;
                inputDateType = true;
            }
        }
        let Cancel = () => {
            ReadById(clientID);
            $("#editButton").text("Edit")
            buttonEditStatus = false;
            inputDateType = false;
            $("#name").prop("disabled", true);
            $("#birthdate").prop("disabled", true);
            $("#editButton").attr("onclick", "Edit()");
            $("#cancelButton").prop("hidden", true);
        }

        let Update = () => {

            var data = new Object();
            data.Id = clientID;
            data.Name = $("#name").val();
            data.Email = $("#email").val();
            data.BirthDate = $("#birthdate").val().substring(0, 10);
            console.log(data)
            $.ajax({
                url: "Home/UpdateEmployee",
                type: "PUT",
                data: data
            }).done((result) => {
                switch (result) {
                    case 200:
                        swal({
                            title: "Update Success!",
                            text: "Your Account Updated Succesfully!",
                            icon: "success",
                            buttons: false,
                            timer: 2000
                        }).then(() => {
                            buttonEditStatus = false;
                            inputDateType = false;
                            Cancel();
                        });
                     
                        break;
                    default:
                        swal({
                            text: "Oops..",
                            buttons: false,
                            timer: 2000
                        })
                }
            
            }).fail((error) => {
                alert("request gagal");
            });
        }
    </script>
}