@{
    ViewData["Title"] = "Home Page";
}

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="needs-validation modal-validation" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-body">
                                <div class="form-row mb-3" id="registerEmail">
                                    <label for="exampleFormControlSelect1">Example select</label>
                                    <select class="form-control" id="exampleFormControlSelect1" required>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        Please provide an email correctly.
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="form-row mb-3" id="registerName">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Subject" required>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        please input your name
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>



                                <div class="form-row mb-3" id="registerPassword">
                                    <label for="exampleFormControlTextarea1">Example textarea</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        password less then 6
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="buttonModal">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Browser</th>
 
                        </tr>
                    </thead>
                    <tbody></tbody>
                    @*<tfoot>
                        <tr>
                            <th>Rendering engine</th>
                            <th>Browser</th>
                            <th>Platform(s)</th>
                            <th>Engine version</th>
                            <th>CSS grade</th>
                        </tr>
                    </tfoot>*@
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

     
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js" integrity="sha512-AJUWwfMxFuQLv1iPZOTZX0N/jTCIrLxyZjTRKQostNU71MzZTEPHjajSK20Kj1TwJELpP7gl+ShXw5brpnKwEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                //$("#example2").DataTable({
                //    "responsive": true, "lengthChange": false, "autoWidth": false,
                  
                //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                //$('#example2').DataTable({
                //    "paging": true,
                //    "lengthChange": false,
                //    "searching": false,
                //    "ordering": true,
                //    "info": true,
                //    "autoWidth": false,
                //    "responsive": true,
                //});
                $('#example2').DataTable({
                    ajax: {
                        url: "https://localhost:44397/api/Tickets",
                        type: "GET",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: null,
                            render: (data, type, row, meta) => {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        { data: "id" },
                    ]
                });
            });
        });

    </script>
}