@{
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "Dashboard";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All Tickets</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Ticket ID</th>
                            <th scope="col">Ticket Name</th>
                            <th scope="col">Requestor Name</th>
                            <th scope="col">Ticket Date</th>
                            <th scope="col">Ticket Status</th>
                            <th scope="col">Status Date</th>
                            @*<th scope="col">Action</th>*@
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js" integrity="sha512-AJUWwfMxFuQLv1iPZOTZX0N/jTCIrLxyZjTRKQostNU71MzZTEPHjajSK20Kj1TwJELpP7gl+ShXw5brpnKwEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script>
        $(document).ready(function () {
      let table = $('#example2').DataTable({
                    ajax: {
                        url: "/Dashboard/AllNewTicketStatus",
                        type: "GET",
                        dataSrc: ""
                    },
                    columns:
                        [
                            {
                                data: null,
                                render: (data, type, row, meta) => {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },
                            { "data": "ticketID" },
                            { "data": "ticketName" },
                            //{ "data": "Category"},
                            { "data": "requestorName" },
                            {
                                "data": "ticketDate",
                                render: function (data, type, row) {
                                    let date = moment(row.ticketDate).format('DD MMMM YYYY HH:mm:ss')
                                    return date
                                }
                            },
                            { "data": "ticketStatus" },
                            {
                                "data": "statusDate",
                                render: function (data, type, row) {
                                    let dates = moment(row.statusDate).format('DD MMMM YYYY HH:mm:ss')
                                    return dates
                                }
                            }
                        ],
                 "order": [[1, 'asc']]
            });
                table.on('order.dt search.dt', function () {
                    table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
        });
        $("#btnSolution").click(function () {
            TicketSolution();
            $("#modalTicketSolution").hide();
        });
        function TicketSolution() {
            var Ticket = new Object();
            Ticket.TicketId = $("#TicketId").val();
            Ticket.EmployeeId = $("#EmployeeId").val();
            Ticket.Solution = $("#Solution").val();
            $.ajax({
                    url: 'Dashboard/TicketSolution',
                    type: 'POST',
                    data: Ticket,
                }).done((result) => {
                    if (result == 200) {
                        swal(
                            {
                                title: "Success!",
                                text: "Data added to Database !",
                                icon: "success"
                            }).then(() => { location.reload() })
                    }
                }).fail((error) => {
                    console.log(error);
                    alert("Failed to Insert");
                })
             }

    </script>
}