@{
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "Dashboard";
}


<div class="modal fade" id="modalTicketSolution" tabindex="-1" role="dialog" aria-labelledby="modalTicketSolution" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="needs-validation modal-validation" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-body">
                                <div class="form-row mb-3">
                                    <label for="TicketId">Ticket ID</label>
                                    <input type="text" class="form-control" id="TicketId" aria-describedby="emailHelp" placeholder="Ticket Name" required>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        please input valid name for your ticket
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="form-row mb-3">
                                    <label for="EmployeeId">Employee ID</label>
                                    <input type="text" class="form-control" id="EmployeeId" aria-describedby="emailHelp" placeholder="Client ID" value="@ViewData["empId"]" disabled>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        please input valid ID
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="form-row mb-3">
                                    <label for="Solution">Solution</label>
                                    <textarea class="form-control" id="Solution" rows="3" required></textarea>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        Please Make your Best solution for them
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="btnSolution">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th scope="col">Ticket ID</th>
                            <th scope="col">Ticket Name</th>
                            <th scope="col">Requestor Name</th>
                            <th scope="col">Ticket Date</th>
                            <th scope="col">Ticket Status</th>
                            <th scope="col">Status Date</th>
                            @*<th scope="col">Action</th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js" integrity="sha512-AJUWwfMxFuQLv1iPZOTZX0N/jTCIrLxyZjTRKQostNU71MzZTEPHjajSK20Kj1TwJELpP7gl+ShXw5brpnKwEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script>
        $(document).ready(function () {
            //$.ajax({
            //    url: "/Ticket/GetInprogressTicket",
            //    type: "GET",
            //}).done(result => {
            //    console.log(result);
            //}).fail(result => {
            //    console.log("Gagal");
            //})
        

            //$(function LoadTable() {
                $('#example2').DataTable({
                    ajax: {
                        url: "/Dashboard/AllNewTicketStatus",
                        type: "GET",
                        dataSrc: ""
                    },
                    columns:
                        [
                            {
                                data: null,
                                render: (data, type, row, meta) => {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },
                            { "data": "ticketID" },
                            { "data": "ticketName" },
                            //{ "data": "Category"},
                            { "data": "requestorName" },
                            {
                                "data": "ticketDate",
                                render: function (data, type, row) {
                                    let date = moment(row.ticketDate).format('DD MMMM YYYY HH:mm:ss')
                                    return date
                                }
                            },
                            { "data": "ticketStatus" },
                            {
                                "data": "statusDate",
                                render: function (data, type, row) {
                                    let dates = moment(row.statusDate).format('DD MMMM YYYY HH:mm:ss')
                                    return dates
                                }
                            }
                    //        {
                    //    "data": null,
                    //    "render": function (data, type, row) {
                    //        //console.log(row["id"]);
                    //        return '<button id="editTable" class="btn btn-primary"  style="margin-right : 5px;"data-togle="tooltip" data-placement="top" title="Add new Solution" onclick="TicketSolution(\'' + row['ticketID'] + '\')" data-toggle="modal" data-target="#modalTicketSolution"  ><i class="fa fa-edit"></i></button>'
                    //    },
                    //    "orderable": false,
                    //    "searchable": false
                    //}
                        ]
                            
                })
            //});
        });
        $("#btnSolution").click(function () {
            TicketSolution();
            $("#modalTicketSolution").hide();
        });
        function TicketSolution() {
            var Ticket = new Object();
            Ticket.TicketId = $("#TicketId").val();
            Ticket.EmployeeId = $("#EmployeeId").val();
            Ticket.Solution = $("#Solution").val();
            $.ajax({
                    url: 'Home/TicketSolution',
                    type: 'POST',
                    data: Ticket,
                }).done((result) => {
                    if (result == 200) {
                        swal(
                            {
                                title: "Success!",
                                text: "Data added to Database !",
                                icon: "success"
                            }).then(() => { location.reload() })
                    }
                }).fail((error) => {
                    console.log(error);
                    alert("Failed to Insert");
                })
             }

    </script>
}