@{
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "InProgress Ticket";
}


    <br />
    <div style="width:90%; margin:50px auto;">
        <button type="button" id="btnAdd" class="btn btn-success" style="margin:20px auto" data-toggle="modal" data-target="#modalAdd" data-bs-toggle="tooltip" data-bs-placement="top" title="Insert Data"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <table id="inprogressDatatable" class="table table-bordered table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Ticket Name</th>
                    <th scope="col">Requestor Name</th>
                    <th scope="col">Ticket Date</th>
                    <th scope="col">Ticket Status</th>
                    <th scope="col">Status Date</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Ticket Name</th>
                    <th scope="col">Requestor Name</th>
                    <th scope="col">Ticket Date</th>
                    <th scope="col">Ticket Status</th>
                    <th scope="col">Status Date</th>
                </tr>
            </tfoot>
        </table>
    </div>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script>
        $(document).ready(function LoadTable() {
            table = $('#inprogressDatatable').DataTable({
                ajax: {
                    url: "/Ticket/GetInprogressTicket",
                    type: "GET",
                    dataSrc: ""
                },
                columns: [
                    { "data": "ticketID" },
                    { "data": "ticketName" },
                    //{ "data": "Category"},
                    { "data": "requestorName" },
                    {
                        "data": "ticketDate",
                        render: function (data, type, row) {
                            let date = moment(row.ticketDate).format('DD MMMM YYYY HH:mm:ss')
                            return date
                        }
                    },
                    { "data": "ticketStatus" },
                    {
                        "data": "statusDate",
                        render: function (data, type, row) {
                            let dates = moment(row.statusDate).format('DD MMMM YYYY HH:mm:ss')
                            return dates
                        }
                    }
                ]
            });
        });

    </script>
}
