
@{
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "OpenedTicket";
    //ViewBag.Title = "Dashboard";
}



    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">DataTable with minimal features & hover style</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="openTicketdatatables" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">TicketID</th>
                                <th scope="col">TicketName</th>
                                <th scope="col">RequestorName</th>
                                <th scope="col">TicketDate</th>
                                <th scope="col">TicketStatus</th>
                                <th scope="col">Opened Date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">TicketID</th>
                                <th scope="col">TicketName</th>
                                <th scope="col">RequestorName</th>
                                <th scope="col">TicketDate</th>
                                <th scope="col">TicketStatus</th>
                                <th scope="col">Opened Date</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    @*<div style="width:90%; margin:50px auto;">
        <table id="openTicketdatatables" class="table table-bordered table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            
        </table>
    </div>*@


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js" integrity="sha512-AJUWwfMxFuQLv1iPZOTZX0N/jTCIrLxyZjTRKQostNU71MzZTEPHjajSK20Kj1TwJELpP7gl+ShXw5brpnKwEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script>
        $(document).ready(function LoadTable() {
            table = $('#openTicketdatatables').DataTable({
                ajax: {
                    url: "/Dashboard/GetOpenedTicket",
                    type: "GET",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: null,
                        render: (data, type, row, meta) => {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ticketID" },
                    { "data": "ticketName" },
                    //{ "data": "Category"},
                    { "data": "requestorName" },
                    {
                        "data": "ticketDate",
                        render: function (data, type, row) {
                            let date = moment(row.ticketDate).format('DD MMMM YYYY HH:mm:ss')
                            return date
                        }
                    },
                    { "data": "ticketStatus" },
                    {
                        "data": "statusDate",
                        render: function (data, type, row) {
                            let dates = moment(row.statusDate).format('DD MMMM YYYY HH:mm:ss')
                            return dates
                        }
                    }
                ],
                "order": [[1, 'asc']]
            })
            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });

    </script>
}