@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}
<div>
            <div class="row">
                <div class="col-sm-12">
                        <div class="mt-5 text-center ">
                            <h4 class="title-name">Help Desk App</h4>
                            <p>Sign In</p>
                        </div>
                        <div class="form-login">
                            <form class="needs-validation" novalidate>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
                                    <div class="invalid-feedback">
                                        Invalid email address
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="inputPassword" placeholder="password">
                                    <div class="invalid-feedback">
                                        minimum 4 characters
                                    </div>
                                </div>
                                <button class="btn btn-danger btn-block" type="submit">Sign in</button>
                            </form>
                            <small class="text-muted">Forgot your Password? <a asp-controller="Register" asp-action="Index">Reset Password</a></small>
                            <hr />
                            <small class="text-muted">Need a new account? <a asp-controller="Register" asp-action="Index">Sign up free</a></small>
                        </div>
                </div>
            </div>
</div>
 

@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#exampleModalCenter').on('hidden.bs.modal', function () {
                ModalClear();
                //remove validation modal is closed
                ClearValidation();
            });

            FormValidation();
        });
        let FormValidation = () => {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    if (form.checkValidity() === false) {
                        form.classList.add('was-validated');
                    }
                    else {
                        var dataLogin = new Object();
                    
                        dataLogin.Email = $("#inputEmail").val();
                        dataLogin.Password = $("#inputPassword").val();
                        PostLogin(dataLogin);
                    }

                }, false);
            });
        }

        let PostLogin = (data) => {
            console.log(data);
            $.ajax({
                type: 'POST',
                url: '/Login/LoginEmployee',
                data: data
            }).done((result) => {
                if (result == 200) {
                    swal({
                        title: "Success!",
                        text: "Your Account Created Succesfully !",
                        icon: "success",
                        showCancelButton: false,
                        showConfirmButton: false,
                        time: 2000
                    })
                } else if (result == 404) {
                    swal({
                        title: "Not Found",
                        text: "Account is not found",
                        icon: "warning",
                        showCancelButton: false,
                        showConfirmButton: true
                    })
                }
                else {
                    swal({
                        text: "Oops..",
                        showCancelButton: false,
                        showConfirmButton: false,
                        time: 2000
                    })
                }
            }).fail((result) => {
                swal({
                    title: "Oops..",
                    text: "Server Error",
                    icon: "error",
                    showCancelButton: false,
                    showConfirmButton: false,
                    time: 2000
                })
            })
        }

        //Function Forgot Password
        function Forgot(Data) {
            var Forgot = new Object();
            Forgot.Email = $("#email").val();
            $.ajax({
            type: 'POST',
            url: '/Login/ForgotPassword',
            data: Forgot
            }).done((result) => {
                console.log(result);
            }).fail((result) => {
                console.log(result);
                if (result != 200) {
                    alert("failed Send Link Reset");
                }
            })
        }



  
   
    </script>
  
}