
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var token = ViewData["token"];
}

<div class="wrapper">
    <section class="content-header">
        <!-- Horizontal Form -->
        <div class="container">
            <div class="row my-5">
                <div class="col-sm-12 text-center">
                    <h1>Ticketing Support Helpdesk - Reset Password</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <form class="needs-validation" id="ResetPasswordForm" novalidate>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Reset Password</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->

                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="input-group mb-3">
                                    <input type="hidden" class="form-control" id="token" name="token" value="@ViewData["token"]">
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block" id="btnReset" onclick="ResetPassword()">Change Password</button>

                            </div>
                            <!-- /.card-footer -->

                        </div>
                    </form>
                    <p class="mt-3 mb-1">
                        <a asp-controller="Login" asp-action="Index">Login</a>
                    </p>
                </div>
            </div>
            <div class="row mt-2">

            </div>

        </div>
    </section>
    <!-- /section -->
</div>
@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            FormForgotValidation();
        });
        let FormForgotValidation = () => {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    if (form.checkValidity() === false) {
                        form.classList.add('was-validated');
                        console.log("false")
                    }
                    else {
                        ResetPassword()
                    }

                }, false);
            });
        }
        function ResetPassword() {
            //var passwordconf = $("#passwordconfirm").val();
            var Item = new Object();
            Item.Password = $("#password").val();
            //Item.Token = $("#token").val();
            Item.Token = `@ViewData["token"]`;
            //if (passwordconf === Item.Password) {
            $.ajax({
                type: "POST",
                url: "/Login/ResetPasswords",
                data: Item
            }).done((result) => {
                console.log(result);
                switch (result) {
                    case 200:
                        swal({
                            title: "Success!",
                            text: "Password has been change",
                            icon: "success",
                            buttons: false,
                            timer: 2000
                        }).then(() => {
                            window.location = "https://localhost:44326/login";
                        })
                        break;

                    default:
                        swal({
                            text: "Oops..",
                            buttons: false,
                            time: 2000
                        })
                }
            }).fail((result) => {
                console.log(result);
                if (result != 200) {
                    alert("Can not reset password");
                }
            })
        }
            
   </script>
    }
